.text {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.textField {
    -fx-background-radius: 20px;
    -fx-border-color: rgb(49, 235, 225);
    -fx-border-radius: 20px;  
}

.imc {
    -fx-font-size: 100px;
}

.slider .thumb {
    -fx-background-color: rgb(0, 0, 0);
}